* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
}

body {
    background-color: rgb(0, 0, 0);
    text-align: center;
}

.parent {
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    grid-template-areas:
        "home header header header header header header profile"
        "navigate navigate content content content content content content"
        "navigate navigate content content content content content content"
        "navigate navigate content content content content content content"
        "navigate navigate content content content content content content"
        "navigate navigate content content content content content content"
        "navigate navigate content content content content content content"
        "navigate navigate content content content content content content";
}

// *************************************************************************************************************//
.parent>.home {
    grid-area: home;
    background-color: #8ca0ff;
    display: flex;
    align-items: center;
    justify-content: center;

    & a {
        color: rgb(0, 241, 254);
        font-size: 25px;
        text-decoration: none;
        background-color: rgb(0, 0, 52);
        border-radius: 50%;
        padding: 10px;
    }
}

.parent>.header {
    grid-area: header;
    background-color: #8ca0ff;

    & h1 {
        color: rgb(2, 25, 26);
        font-size: 60px;
    }

}

// *************************************************************************************************************//

.parent>.profile {
    grid-area: profile;
    background-color: #ffa08c;

    & button {
        background-color: rgb(136, 163, 188);
        border-radius: 20px;
        padding: 0px 7px 0px 7px;
    }

    & button:hover,
    a:hover {
        background-color: rgb(39, 155, 250);
        color: white;
    }

    & .profileName {
        margin-top: 20px;
        font-size: 20px;
        color: rgb(44, 34, 20);

        & #userNameByCookie {
            color: purple;
        }
    }
}

// *************************************************************************************************************//

.parent>.navigate {
    grid-area: navigate;
    background-color: #ffff64;

    & #friendsList {
        margin-top: 50px;
    }

    & #friendsList li {
        margin: 10px;
        padding: 10px;
        border-radius: 15px;
        background-color: rgba(0, 136, 255, 0.3);
    }

    & .navUsersBtn {
        background-color: #8cff9f87;
        border-radius: 10px;
        padding: 5px;
        margin-left: 5px;
        border: none;
    }

    .navUsersBtn:hover {
        background-color: rgb(56, 242, 59);
    }
}


.parent>.content {
    grid-area: content;

    background-color: #8cffa0;
    width: 100%;
    height: 100%;
    display: flex;
    // flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    overflow: scroll;

    & .toolsBar {
        border: solid black 0.5px;
        background-color: #ffffff95;
        width: 100%;
        // display: block;
    }

    & .posts {
        // display: flex;
        // justify-content: center;
        // align-items: flex-start;
        // flex-direction: column;
        // flex-wrap: nowrap;
        width: 100%;
        background-color: rgba(0, 255, 251, 0.338);

        & .post {
            display: inline-block;
            background-color: rgba(210, 22, 22, 0.377);
            margin: 5px;
            width: 60%;
            min-height: 100px;
            height: fit-content;
            box-shadow: 0px 2px 8px black;
            color: rgb(1, 0, 0);
            font-size: larger;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        }
    }
}