* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
}

body {
    background-color: rgb(0, 0, 0);
    text-align: center;
}

.parent {
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    grid-template-areas:
        "home header header header header header header profile"
        "content content content content content content content content"
        "content content content content content content content content"
        "content content content content content content content content"
        "content content content content content content content content"
        "content content content content content content content content"
        "content content content content content content content content"
        "content content content content content content content content";
}
.parent>.home {
    grid-area: home;
    background-color: #8ca0ff;
    display: flex;
    align-items: center;
    justify-content: center;
    & a {
        color: rgb(0, 241, 254);
        font-size: 25px;
        text-decoration: none;
        background-color: rgb(0, 0, 52);
        border-radius: 50%;
        padding: 10px;
    }
}

.parent>.header {
    grid-area: header;
    background-color: #8ca0ff;

    & h1 {
        color: rgb(2, 25, 26);
        font-size: 60px;
    }
}

.parent>.profile {
    grid-area: profile;
    background-color: #ffa08c;

    & button {
        background-color: rgb(136, 163, 188);
        border-radius: 20px;
        padding: 0px 7px 0px 7px;
    }

    & button:hover,
    a:hover {
        background-color: rgb(39, 155, 250);
        color: white;
    }

    & .profileName {
        margin-top: 20px;
        font-size: 20px;
        color: rgb(44, 34, 20);

        & #userNameByCookie {
            color: purple;
        }
    }
}

.parent>.content {
    grid-area: content;
    background-color: #8cffa0;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    & #profilePhoto {
        min-height: 200px;
        min-width: 200px;
        max-height: 200px;
        max-width: 200px;
        border-radius: 50%;
        border: 2px dashed red;
        margin-top: -100px;
        // margin-bottom: 20px;
    }

    & .profileInfo {
        & button {
            background-color: rgb(255, 255, 255);
            border: 3px solid black;
            border-radius: 15px;
            padding: 6px;
            // margin-bottom: 20px;
        }

        & button:hover {
            background-color: rgb(225, 255, 0);
            border: 3px solid rgb(216, 0, 0);
        }
    }

    & .profileChat {
        & .showChat {
            height: 200px;
            width: 600px;
            background-color: rgb(0, 0, 0);
            color: white;
            overflow-y: scroll;
            padding: 10px;
            border-radius: 10px;
            .meChat {
                display: flex;
                justify-content: flex-end;
                color: #ffa796;
                // text-shadow: 1px 1px 20px rgb(229, 255, 0), 0 0 1em rgb(21, 255, 0), 0 0 0.2em rgb(108, 179, 0);
            }

            .friendChat {
                display: flex;
                justify-content: flex-start;
                color: #c0fc50;
                // text-shadow: 1px 1px 20px rgb(0, 255, 247), 0 0 1em rgb(0, 78, 248), 0 0 0.2em blue;
            }
        }
    }
}