* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  text-align: center;
  background-color: rgb(138, 193, 240);
}

img {
  height: 50vh;
  width: 50vh;
}

.HOME {
  width: 100%;
}

.DogContainer {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.DogCard {
  border: solid black 4px;
  width: 60vh;
  margin-bottom: 10px;
}